<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style media="screen">
      #register{
        width: 481px;
        height: 350px;
      }
    </style>

    <title>linked|Me</title>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img style="width:20%" src="http://www.linkmeinguides.com/wp-content/uploads/2017/01/LMIG_Logo_LR.png" alt="Linked|Me"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#login" class="modal-trigger waves-effect waves-light btn">Login</a></li>
            <li><a href="#register" class="modal-trigger waves-effect waves-light btn">Register</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#login" class="modal-trigger waves-effect waves-light btn">Login</a></li>
            <li><a href="#register" class="modal-trigger waves-effect waves-light btn">Register</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <div id="register" class="modal modal-fixed-footer">
      <div class="modal-content">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="firstname" type="text" class="validate">
                <label for="register-firstname">First Name</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="lastname" type="text" class="validate">
                <label for="register-lastname">Lastname</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">mail</i>
                <input id="email" type="email" class="validate">
                <label for="register-usernam">Email</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">lock</i>
                <input id="password" type="password" class="validate">
                <label for="register-password">Pasword</label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="register()">Register</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" >Cancel</a>
      </div>
    </div>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <!-- untuk login -->
        <form class="col s12" action="/" method="post">
          <div class="input-field col s6">
            <i class="material-icons prefix">mail</i>
            <input id="firstname" type="text" class="validate">
            <label for="register-firstname">Email</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate">
            <label for="register-lastname">Password</label>
          </div>
          <a href="#!" class="modal-trigger waves-effect waves-light btn">Log in</a>
        </form>

        <h1 class="header center orange-text">Starter Template</h1>
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>



      </div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
         <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>

      </div>

    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <a class="orange-text text-lighten-3" href="#">Copyright (c) 2017 Linked|Me</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.modal').modal();
  });

  function register() {
    $.ajax({
      url: 'http://localhost:3000/add',
      type: 'POST',
      data: {
        firstname: $('#firstname').val(),
        lastname: $('#lastname').val(),
        email: $('#email').val()
      },
      success: function(data){
        console.log(data);
        if(data == 'email geus aya') {
            window.location.href = ('http://www.google.com')
        } else {
          window.location.href = ('http://www.google.com')
        }
      }
    })
  }
  </script>
  </body>
</html>
